@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --primary-color: #000000; /*var(--primary-color);*/
  --secondary-color: #fff; /*var(--secondary-color);*/
  --background-color1: #f9f9f9; /*var(--background-color1);*/
  --background-color2: #000000; /*var(--background-color2);*/
  --text-color1: #000000; /*var(--text-color1);*/
  --text-color2: #fff; /*var(--text-color2);*/
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color1);
  color: var(--text-color1);
  line-height: 1.6;
}

main {
  background-color: var(--background-color1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  text-align: center;
  color: var(--text-color1);
  margin-bottom: 40px;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: justify;
}

@media (min-width: 768px) {
  section {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0;
    h2 {
      font-size: 2em;
      text-align: center;
      color: var(--text-color1);
      margin: 20px;
    }
  }
}
