/*--primary-color: #000000; var(--primary-color);*/
/*--secondary-color: #fff; var(--secondary-color);*/
/* --background-color1: #f9f9f9; var(--background-color1);*/
/* --background-color2: #000000; var(--background-color2);*/
/*--text-color1: #000000; var(--text-color1);*/
/* --text-color2: #fff; var(--text-color2);*/
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s, color 0.3s;
  height: 5vh;

  h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 1.4rem;
    transition: color 0.3s;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;

    li {
      margin: 0 15px;

      a {
        color: var(--text-color2);
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s;

        &.active {
          color: var(--highlight-color);
        }
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    position: fixed;
    padding: 0;
    margin: 0;
    align-items: start;
    height: auto;
    flex-direction: column;
    h1 {
      text-align: left;
      font-size: 1.2em;
      margin: 1vh 0 0 2vh;
    }
    nav {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        li {
          padding: 1vw;
          margin: 0;
          width: 25%;
          border: 1px solid #fafafa69;
          text-align: center;
          a {
<<<<<<< HEAD
            font-size: 0.8em;
=======
            font-size: 0.6em;
>>>>>>> deployforgithub
          }
        }
      }
    }
  }
  #btn-accueil {
    display: none;
  }
  nav ul li {
    text-align: center;
    margin-bottom: 10px;
  }
}
